body{
	width:auto;
	height:1000px;
}

#header{
	width:100%;
	height:4%;
	color:white;
	background: #3D59AB;
	padding: 0.1%;
}

#header a{
	color: white;
	text-decoration: none;
}


#title{
	float:left;
	height: 100%;
	font-family: ubuntu;
}

#title h1{
	font-size: 20px;
}

#userPanel{
	float:right;
	overflow: hidden;
	font-family: "Calibri", Helvetica, sans-serif;
	font-size: 13px;
	padding-right:3em;
	height: 100%;
	text-align: right;
}

#userPanel a{
	color: yellow;
	text-decoration: none;

}

#userPanel a:active, a:hover{
	font-weight: bold;
}

#userPanel a:visited{
	color: #87CEFF;
}


#content{
	width:100%;
	height:95%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:12px;
}

#buttonPanel{
	//background: #F7F7F7; /* Old browsers */
	//border-bottom: 1px solid #cccccc;
	background: url('../res/dots.png');
	height:3%;
	width:auto;
	padding:3px 2em;
}

#notification_panel{
	background: #FFEC8B;
	height: 3%;
	width: 100%;
	text-align: left;
	padding: 0.25%;
	font-family: "Trebuchet MS","tahoma";
	text-align: center;
	font-size: 1.25em;
}


#footer{
	background: white;
	width:auto;
	height:3%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align:center;
	padding: 0.5em;
	box-shadow: inset 0px 3px 6px #909090;
}

#nav li{
	list-style: none;
}

li a{
	text-decoration: none;
	color: #2d2d30;
}

li a:hover,li a:active{
	font-weight: bold;
}

#searchfield{
	float:right;
	border: 1px solid #cccccc;
	padding: 0.5em;
	font-size: 12px;
	box-shadow: inset 0px 0px 6px #808080;
	width: 120px;
	-webkit-transition: width 0.5s;
}

#searchfield:focus{
	width: 250px;
	-webkit-transition: width 0.5s;
}


th{
	text-align: right;
	padding-right:1em;
}

.button{
	background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */border-radius: 2px;
	padding: 0.45em 1em;
	margin-left: 0.15em;
	margin-right: 0.15em;
	border:none;
	font-size: 12px;
	color: white;

}

.button:hover{
	background: #4c4c4c; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 64%, #000000 72%, #111111 77%, #2b2b2b 84%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(64%,#2c2c2c), color-stop(72%,#000000), color-stop(77%,#111111), color-stop(84%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 64%,#000000 72%,#111111 77%,#2b2b2b 84%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 64%,#000000 72%,#111111 77%,#2b2b2b 84%,#1c1c1c 91%,#131313 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 64%,#000000 72%,#111111 77%,#2b2b2b 84%,#1c1c1c 91%,#131313 100%); /* IE10+ */
background: radial-gradient(ellipse at center, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 64%,#000000 72%,#111111 77%,#2b2b2b 84%,#1c1c1c 91%,#131313 100%); /* W3C */
}

.button:active{
	background: #131313; /* Old browsers */
background: -moz-linear-gradient(top, #131313 0%, #1c1c1c 9%, #2b2b2b 24%, #111111 40%, #000000 49%, #2c2c2c 50%, #474747 61%, #666666 75%, #595959 88%, #4c4c4c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#131313), color-stop(9%,#1c1c1c), color-stop(24%,#2b2b2b), color-stop(40%,#111111), color-stop(49%,#000000), color-stop(50%,#2c2c2c), color-stop(61%,#474747), color-stop(75%,#666666), color-stop(88%,#595959), color-stop(100%,#4c4c4c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #131313 0%,#1c1c1c 9%,#2b2b2b 24%,#111111 40%,#000000 49%,#2c2c2c 50%,#474747 61%,#666666 75%,#595959 88%,#4c4c4c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #131313 0%,#1c1c1c 9%,#2b2b2b 24%,#111111 40%,#000000 49%,#2c2c2c 50%,#474747 61%,#666666 75%,#595959 88%,#4c4c4c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #131313 0%,#1c1c1c 9%,#2b2b2b 24%,#111111 40%,#000000 49%,#2c2c2c 50%,#474747 61%,#666666 75%,#595959 88%,#4c4c4c 100%); /* IE10+ */
background: linear-gradient(to bottom, #131313 0%,#1c1c1c 9%,#2b2b2b 24%,#111111 40%,#000000 49%,#2c2c2c 50%,#474747 61%,#666666 75%,#595959 88%,#4c4c4c 100%); /* W3C */
}


/*

Colours:

Black: #2d2d30;
Dark Grey: #b0b0b0;
Light Grey: #e0e0e0;

Font Sizes:
Normal Text: 12px;
title: h1,h2,h3; (don't use h4)
*/
