body{
	width:auto;
	height:1000px;
}

#header{
	width:100%;
	height:4%;
	color:white;
	background: #3D59AB;
	padding: 0.1%;
}


#title{
	float:left;
	height: 100%;
	font-family: ubuntu;
}

#title h1{
	font-size: 20px;
}

#userPanel{
	float:right;
	overflow: hidden;
	font-family: "Calibri", Helvetica, sans-serif;
	font-size: 13px;
	padding-right:3em;
	height: 100%;
	text-align: right;
}

#userPanel a{
	color: yellow;
	text-decoration: none;

}

#userPanel a:active, a:hover{
	font-weight: bold;
}

#userPanel a:visited{
	color: #87CEFF;
}

#navigation{
	background: #ededed;//#fcfcfc;
	width:11%;
	height:95%;
	float:left;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: left;
	line-height:2em;
	padding-left: 1em;
	border-right: 1px solid #e0e0e0;
}

#content{
	width:auto;
	height:95%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:12px;
	overflow:scroll;
	overflow-x: hidden;
	background:url('../res/stripe.png');
}

#buttonPanel{
	background:#BCD2EE;/*#BCD2EE-#A2B5CD*/
	height:3%;
	width:auto;
	border-top:1px solid #A2B5CD;
	border-bottom:1px solid #A2B5CD;
	padding:0.5em 2em;
}

#notification_panel{
	background: #FFEC8B;
	height: 3%;
	width: 100%;
	text-align: left;
	padding: 0.25%;
	font-family: "Trebuchet MS","tahoma";
	text-align: center;
	font-size: 1.25em;
}


#footer{
	background: white;
	width:auto;
	height:3%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align:center;
	padding: 0.5em;
	box-shadow: inset 0px 3px 6px #909090;
}

#nav li{
	list-style: none;
}

li a{
	text-decoration: none;
	color: #2d2d30;
}

li a:hover,li a:active{
	font-weight: bold;
}

#searchfield{
	float:right;
	border: 1px solid #A2B5CD;
	padding: 0.5em;
	font-size: 12px;
	box-shadow: inset 0px 0px 6px #808080;
	width: 120px;
	-webkit-transition: width 0.5s;
}

#searchfield:focus{
	width: 250px;
	-webkit-transition: width 0.5s;
}


th{
	text-align: right;
	padding-right:1em;
}

.button{
	background: #499bea; /* Old browsers */
	background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #499bea 0%,#207ce5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #499bea 0%,#207ce5 100%); /* W3C */
	border-radius: 2px;
	padding: 0.5em;
	margin-left: 0.15em;
	margin-right: 0.15em;
	border:none;
	font-size: 12px;
	color: white;

}

.button:hover{
	background: #7abcff;
	background: -moz-radial-gradient(center, ellipse cover, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
}

.button:active{
	background: #4096ee; /* Old browsers */
	background: -moz-linear-gradient(top, #4096ee 0%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4096ee 0%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4096ee 0%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4096ee 0%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4096ee 0%,#4096ee 100%); /* W3C */
}


/*

Colours:

Black: #2d2d30;
Dark Grey: #b0b0b0;
Light Grey: #e0e0e0;

Font Sizes:
Normal Text: 12px;
title: h1,h2,h3; (don't use h4)
*/
