/*
*Autor: Waqqas Sheikh;Asim Abdulhadi
*Date: 10-Feb-2013;
*/

#infoPanel{
	background:#F0F8FF;
	height:10%;
	width:auto;
	border-bottom:1px solid #E0E0E0;
	line-height: 1.5em;
	padding:1em 3em;
	overflow: scroll;
}

#messagePanel{
	background:white;
	line-height: 1.5em;
	height:85%;
	overflow:auto;
	padding: 1em 1.5em;
	border-top: 1px solid #2d2d30;
	border-left: 1px solid #2d2d30;
	border-right: 1px solid #2d2d30;
}


#emailPanel{
	/*this must be on first line*/
	background:url('../res/stripe.png');
	height:87%;
	width:auto;
	padding: 3em 3em;
	
}

textarea{
	background:white;
	width: 95%;
	line-height: 1.5em;
	height:100%;
	overflow:auto;
	padding: 1em 1.5em;
	border-top: 1px solid #2d2d30;
	border-left: 1px solid #2d2d30;
	border-right: 1px solid #2d2d30;
	font-size: 12px;
}

.composefield{
	border: 1px solid #b0b0b0;
	padding: 0.2em;
	margin: 0.1em;
	font-size: 12px;
}

