body{
	width:auto;
	height:100%;
	text-align:center;
	background-image:url('http://learn.zu.ac.ae/themes/as_2012/images/bblearn_2011_bg.png');
	background-color: #f0f0f0;
	font-size: 12px;
}

#wrapper{
	//background: black;
	width: 75%;
	height: 500px;
	margin: 0 auto;
	padding: 0.5em;
}

#logo{
	text-align:center;
	width:30%;
	height:auto;
}

#header{
	width: 100%;
	height: 5%;
	//background:red;
}

#content{
	width: 100%;
	height: 90%;
	//background:yellow;
}


#creditsPanel{
	width: 40%;
	height: 100%;
	margin: 0 auto;
	text-align:left;
	background:#2d2d30;
	border-radius:1em;
	color: white;
	opacity: 0.6;
	padding: 1em;
	text-size: 12px;
	line-height: 1em;
}

#creditsPanel table{
	width:100%;
	line-height: 2em;
}

#creditsPanel table tr{
	vertical-align: top
}

#creditsPanel a:link{
	color: yellow;
	text-decoration: none;
}

#creditsPanel a:visited{
	color: #4196e1;
}
